.product_info_list .write_btn {
	background: #999;
	color: #fff;
	width: 90px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 10;
}

.product_info_list .write_btn:hover {
	background: #df4e4e
}

.product_info02 .product_info_list dd table.list_gallery td:first-child {
	width: 30% !important
}
.product_info02 .product_info_list dd table.list_gallery img {
	width: 100% !important;
	height: auto !important
}

/** 상세 날짜 &인원 컨트롤  **/

.date_people_control_wrap {
	padding: 15px 0 25px 0;
	border-bottom: 1px solid #b5b5b5;
}

.date_people_control_wrap:after {
	clear:both;
	content:"";
	width:100%;
	display:block;
} 

.date_people_control_wrap li {
	float:left;
	margin-right: 15px;
}

.date_people_control_wrap li.inwon_area {
	position: relative;
}

.date_people_control_wrap li input {
	width: 204px;
	height: 46px;
	box-sizing: border-box;
	padding: 5px 0 5px 14px !important;
	color:#757575;
	font-weight: 300;
}

.date_people_control_wrap li div.detail_personNumArea {
	position: absolute;
	z-index: 10;
	background: #fff;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.27);
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
	display: none;
}

.date_people_control_wrap li div.detail_personNumArea.show {
	display:block;
}

.date_people_control_wrap li div.detail_personNumArea ul {
	position:relative;
	width:100%;
	padding:10px 0px;
	font-size:14px
}

.date_people_control_wrap li div.detail_personNumArea li {
	margin-right:0 !important;
	text-align:center !important;
	float:none !important;
	padding:10px 0px;
}

.date_people_control_wrap li div.detail_personNumArea ul.sel > li {
	position:relative;
}

.date_people_control_wrap li div.detail_personNumArea li .set-btn {
	position:absolute;
	top:11px;
	left:50%;
	transform: translateX(-50%);
	width:90%;
	font-size:1.3em;
}

.date_people_control_wrap li div.detail_personNumArea li .set-btn span {
	display:block;
	cursor:pointer
}

.date_people_control_wrap li div.detail_personNumArea li .set-btn .plus {
	float:right
}

.date_people_control_wrap li div.detail_personNumArea li .set-btn .minus {
	float:left
}


.date_people_control_wrap li div.detail_personNumArea span.infant_notice {
	width: 88%;
    display: block;
    margin: 0 auto;
    line-height: 18px;
}

.date_people_control_wrap li input.search_cal[name="detail_checkIn"]::placeholder, .date_people_control_wrap li input.search_cal[name="detail_checkOut"]::placeholder{
	color: #757575;
}

.date_people_control_wrap li.search_confirm {
	float:right;
	margin-right: 0;
}

.date_people_control_wrap li.search_confirm a {
	background: #646464;
	color:#fff;
	display:inline-block;
	padding: 13px 15px 14px;
	font-weight: 600;
}

.date_people_control_wrap li.search_confirm a > i {
	font-weight: 600;
}

.date_people_control_wrap .lightpick {
	top: 70px !important;
    left: 12px !important;
}


/** 상품안내 ***/

.detail_schedule_wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.detail_schedule_wrap h3 {
	font-size: 28px;
	font-weight: 500;
	margin-top: 10px;
}

.detail_schedule_wrap h3.for_tour {
	float:left;
}

.bd_bt {
	border-bottom: 1px solid #e7e7e7;
}

.detail_schedule_wrap .d_sch_title {
	margin-bottom: 3px;
	font-size: 16px;
}

.detail_schedule_wrap .d_schedule_calendar, .ajax_start_date .d_schedule_calendar {
	position: relative;
	margin-bottom: 10px;
	border: 1px solid #e7e7e7;
	border-top: 2px solid black;
	overflow: hidden;
}

.detail_schedule_wrap .state_color, .ajax_start_date .state_color {

	margin-bottom: 4px;
}

.detail_schedule_wrap .state_color li:first-child, .ajax_start_date .state_color li:first-child {
	margin-left: 0;
}

.detail_schedule_wrap .state_color li, .ajax_start_date .state_color li {
	display: inline-block;
	margin-left: 18px;
	font-size: 12px;
	color: #888;
	border: none;
}

.detail_schedule_wrap .state_color li .state, .ajax_start_date .state_color li .state {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.detail_schedule_wrap .state_color li .state.able, .ajax_start_date .state_color li .state.able {
	background: #639fd4;
}
.detail_schedule_wrap .state_color li .state.ok, .ajax_start_date .state_color li .state.ok {
	background: #b4dcff;
}
.detail_schedule_wrap .state_color li .state.wait, .ajax_start_date .state_color li .state.wait {
	background: #ffb22b
}
.detail_schedule_wrap .state_color li .state.close, .ajax_start_date .state_color li .state.close {
	background: #c7c7c7;
}

.detail_schedule_wrap .state_color li .state.focus, .ajax_start_date .state_color li .state.focus {
	background: #0066ff
}

.detail_schedule_wrap .calender {
}

.detail_schedule_wrap .calender .calender_tit_wrap:after {
	content:"";
	clear:both;
	width:100%;
	display:block;
}

.detail_schedule_wrap .calender .calender_tit_wrap .chk_tit {
	float:left;
	color: #404040;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 8px;
}

.detail_schedule_wrap .calender .calender_tit_wrap .state_color {
	float: right;
    margin-top: 11px;
}

.d_schedule_calendar .sch_cal_wrap {
	float: left;
	width: 100%;
	text-align: center;
	background: #fff;
	border-right: 1px solid #e7e7e7;
	padding: 10px 0 0 0;
}

.d_schedule_calendar .sch_cal_wrap:last-child {
	border-right: 0
}

.d_schedule_calendar .sch_cal_wrap
.cal-btn-next, .cal-btn-prev {
	display: block;
	position: absolute;
	top: 18px;
	color: #999;
	cursor: pointer
}

.d_schedule_calendar .sch_cal_wrap
.cal-btn-prev {
	left: 20px;
}

.d_schedule_calendar .sch_cal_wrap
.cal-btn-next {
	right: 20px;
}

.d_schedule_calendar .sch_cal_wrap
.cal-btn-next i, .cal-btn-prev i {
	font-size: 1.5em
}

.sch_cal_wrap .calendar_title {
	font-size: 20px;
	display: inline-block;
	font-weight: 500;
	margin-bottom: 5px;
}

.sch_cal_wrap .sch_cal {
	margin: auto;
	text-align: center;
	width: 100%;
}

.sch_cal_wrap .sch_cal th {
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	font-weight: 400;
}

.sch_cal_wrap .sch_cal th:first-of-type {
	color: #ff2b3f
}

.sch_cal_wrap .sch_cal th:last-of-type {
	color: #00B8E7
}

.sch_cal_wrap .sch_cal td {
	width: 40px;
	height: 50px;
	line-height: 20px;
	margin: 0 auto;
	font-size: 13px;
	position:relative;
}

.d_schedule_calendar.hotel {
	margin-bottom:25px;
}

.hotel .sch_cal_wrap .sch_cal td {
	height: 65px;
	line-height: 30px;
}

.sch_cal_wrap .sch_cal td > strong {
	text-align: left;
	display: block;
	margin-left: 9px;
	margin-top: 1px;
}

.sch_cal_wrap .sch_cal td > strong > em {
	position: absolute;
    color: #444;
    background: #fff;
    text-align: center;
    top: -11px;
    width: 38px;
    left: calc(50% - 20px);
    line-height: 13px;
    border-radius: 4px;
    border: 1px solid #444;
    font-size: 11px;
    padding: 2px 0;
}

.sch_cal_wrap .sch_cal td > span {
	display: block;
	text-align: right;
	margin-right: 4px;
	font-size: 10px;
	font-weight: 300;
}

/*.res_mg_none {margin-left: 0 !important;}*/

.sch_cal_wrap .sch_cal td:hover {
	background: #f6f6f6;
}

.sch_cal_wrap .sch_cal td.close {
	color: #555;
	background: #c7c7c7;
}
.sch_cal_wrap .sch_cal td.close.on {
	color: #fff;
	background: #848484;
	cursor: pointer;
	font-weight: 600;
}
.sch_cal_wrap .sch_cal td.ok {
	background: #639fd4;
	color: #fff;
	cursor: pointer
}
.sch_cal_wrap .sch_cal td.ok.on {
	color: #fff;
	background: #e74c3c;
	font-weight: 600;
}
.sch_cal_wrap .sch_cal td.able {
	color: #fff;
	background: #639fd4;
	cursor: pointer
}
.sch_cal_wrap .sch_cal td.able.on {
	color: #fff;
	background: #e74c3c;
	font-weight: 600;
}

.sch_cal_wrap .sch_cal td.able.via {
	color: #fff;
	background:#fbb9ba;
	font-weight: 600;
}
.sch_cal_wrap .sch_cal td.wait {
	color: #ffb22b;
	cursor: pointer
}
.sch_cal_wrap .sch_cal td.wait.on {
	color: #fff;
	background: #ffb22b
}

.sch_cal_wrap .sch_cal td.focus {
	color: #0066ff;
	cursor: pointer
}
.sch_cal_wrap .sch_cal td.focus.on {
	color: #fff;
	background-color: #0066ff
}

.sch_list_wrap {
	border: 1px solid #e7e7e7;
	position: relative;
	padding-top: 42px;
}

.sch_list_wrap .sch_list_scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 160px;
}

.sch_list_wrap .sch_list {
	width: 100%;
	width: -moz-fill-available;
	width: -webkit-fill-available;
	width: fill-available;
	border-collapse: collapse;
	border-spacing: 0;
}

.sch_list_wrap .sch_list thead {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	display: inline-table
}

.sch_list_wrap .sch_list th {
	border: 1px solid #444;
	background: #555;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-weight: 400;
}

.sch_list_wrap .sch_list th:nth-child(1) {
	width: 170px;
}

.sch_list_wrap .sch_list th:nth-child(2) {
	width: 170px;
}

.sch_list_wrap .sch_list th:nth-child(3) {
	width: 70px;
}

.sch_list_wrap .sch_list th:nth-child(4) {
	width: 143px;
}

.sch_list_wrap .sch_list th:nth-child(5) {
	width: 130px;
}

.sch_list_wrap .sch_list td {
	border: 1px solid #e7e7e7;
	padding: 12px 0;
	text-align: center;
	border-left: 0
}

.sch_list_wrap .sch_list td:nth-child(1) {
	width: 171px;
}

.sch_list_wrap .sch_list td:nth-child(2) {
	width: 170px;
}

.sch_list_wrap .sch_list td:nth-child(3) {
	width: 70px;
}

.sch_list_wrap .sch_list td:nth-child(4) {
	width: 143px;
}

.sch_list_wrap .sch_list td:nth-child(5) {
	width: 130px;
	color: #df4e4e
}

.sch_list_wrap .sch_list td.able {
	color: #df4e4e
}
.sch_list_wrap .sch_list td.ok {
	color: #ff2b3f
}
.sch_list_wrap .sch_list td.wait {
	color: #ffb22b
}
.sch_list_wrap .sch_list td.close {
	color: #aaa
}

.sch_list_wrap .sch_list tbody td {
	display: table-cell;
}

.sch_list_wrap .sch_list tr:last-of-type td {
	border-bottom: 0
}

.d_schedule_list {
	/*overflow: hidden;*/
	/* float: left; */
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid #b5b5b5;
	padding-top: 5px;
	padding-bottom: 30px;
}

.d_schedule_list .title {
	height: 45px;
	line-height: 28px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}

.d_schedule_list .title strong {
}
.d_schedule_list ul {
}

.d_schedule_list li {
	border: 1px solid #ddd;
	position: relative;
	margin-bottom: 12px;
	overflow: hidden;
	line-height: 28px;
	padding: 7px 13px;
}

.d_schedule_list li:hover {
	border: 1px solid #df4e4e;
}

.d_schedule_list li.on {
	border: 2px solid #df4e4e;
}

.d_schedule_list li a {
	display: block
}

.d_schedule_list li .list_box {
	background: #fff;
	font-weight: 500;
	float: left;
	width: 100%;
}

.d_schedule_list li .list_box .status {
	margin-top: 10px;
	width: 80%;
	float: left;
}

.d_schedule_list li .list_box .status span {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 0 4px;
	margin-right: 3px;
}

.d_schedule_list li .list_box .status span.item_roomdate_photo{
	border:none;
	padding: 0;
	margin-right:3px;
}

.d_schedule_list li .list_box .status span.res_able {
	border: 1px solid #4e9cdf;
	color: #4e9cdf;
}

.d_schedule_list li .list_box .status span.dep_ok {
	border: 1px solid #00aa88;
	color: #00aa88;
}

.d_schedule_list li .list_box .status span.res_fin {
	border: 1px solid #ddd;
	color: #555;
	background: #eee;
}

.d_schedule_list li .list_box .status span.room_iframe_box {
	border: 1px solid #888;
	color: #888;
	background: #fff;
	transition: all .3s;
}

.d_schedule_list li .list_box .status span.room_iframe_box:hover {
	border: 1px solid #888;
	color: #fff;
	background: #888;
}

.d_schedule_list li .detail {
	font-size: 14px;
	display: inline-block;
	margin-right: 10px
}

.d_schedule_list li .date {
	display: inline-block;
	float: right;
}

.d_schedule_list li .date span {
	margin-right: 5px;
	font-weight: 400;
	color: #5d5d5d
}

.d_schedule_list .product_title {
	float: left;
	width: 70%;
	font-size: 16px;
	margin: 5px 0 7px 0;
}

.d_schedule_list .product_title span.available_room {
	font-size: 12px;
    color: #8e8e8e;
    font-weight: 400;
}

.d_schedule_list .room_info {
	float: right;
	width: 30%;
	text-align: right;
	margin-top: 4px;
	color: #888;
}

.d_schedule_list .product_empty {
	width: 100%;
	font-size: 16px;
	margin: 5px 0 10px 0;
}

.d_schedule_list .product_empty i {
	font-size: 35px;
	color: #e74c3c;
}

.d_schedule_list .product_empty span {
	font-weight: 400;
	color: #555;
	font-size: 15px;
}

.d_schedule_list .price_inwon {
	display: inline-block;
	float: right;
	line-height: 20px;
	margin-top: 13px;
}

.d_schedule_list .price_inwon p {
	float: left;
}

.d_schedule_list .price_inwon p span.price_area {
	font-size: 18px;
	margin: 0 2px;
}

.price_inwon .p_title.first_man {
	margin-left: 0;
}

.price_inwon .p_title {
	color: #888;
	margin-left: 5px;
}

.d_schedule_list li .bottom_box {
	position: relative;
	margin-bottom: 6px;
	float: right;
}

.d_schedule_list li .bottom_box .price {
	font-weight: 600;
	font-size: 14px;
	margin-right: 10px;
}

.d_schedule_list li .bottom_box .state {
	display: inline-block;
	font-size: 11px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #fff;
}

.d_schedule_list li .bottom_box .state.able {
	border: 1px solid #df4e4e;
	color: #df4e4e;
}
.d_schedule_list li .bottom_box .state.ok {
	border: 1px solid #ff2b3f;
	color: #ff2b3f;
}
.d_schedule_list li .bottom_box .state.wait {
	border: 1px solid #ffb22b;
	color: #ffb22b;
}
.d_schedule_list li .bottom_box .state.close {
	border: 1px solid #fcb904;
	color: #fcb904;
}

.d_schedule_list li .bottom_box .state.focus {
	border: 1px solid #0066ff;
	color: #0066ff;
}

/*** 코스안내  ***/

.course_box {
	position: relative;
	margin-left: 10px;
}

.course_box .course {
	height: 100%;
	border-left: 1px solid #e1e1e1;
}

.course_box .course .location {
	position: absolute;
	top: 0;
	left: -8px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #e1e1e1;
	background: #fff;
	width: 12px;
	height: 12px;
}

.course_box .course .location.on {
	border: 2px solid #df4e4e;
}

.course_box .course .contents {
	padding: 0px 0px 30px 20px;
	position: relative;
	display: inline-block;
	width: 98%;
}

.course_box .course .contents:last-child {
	padding-bottom: 0
}

.course_box .course .txt {
	font-size: 16px;
	color: #000;
	float: left;
	width: 450px;
	margin-top: -5px
}

.course_box .course .dt_info {
	margin-top: 20px
}

.course_box .course .dt_info span {
	display: block;
	margin-bottom: 4px;
	font-size: 14px;
}

.course_box .course .dt_info span:last-child {
	margin-bottom: 0
}

.course_box .course .dt_info em {
	text-align: center;
	background: #df4e4e;
	color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	width: 32px;
	font-size: 12px;
	margin-right: 15px
}

.course_box .course .img {
	float: right;
	text-align: right;
	width: 300px;
	height: 190px;
}

.course_box .course .img img {
	width: 100%;
	height: 100%;
}

/* 고객센터 카테고리 */

.stop_category {
	overflow: hidden;
	margin: auto;
	width: 1200px;
	padding-top: 25px;
	margin-bottom: 20px
}

.stop_category ul {
}

.stop_category li {
	width: 20%;
	float: left;
}

.stop_category.fr li {
	width: 25%
}

.stop_category.board li {
	width: 16.6%
}

.stop_category li a {
	display: block;
	border: 1px solid #d8d8d8;
	border-right: 0;
	background: #fff;
	color: #999;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}

.stop_category li:last-child a {
	border-right: 1px solid #d8d8d8
}

.stop_category li.on a {
	border: 1px solid #e74c3c;
	background: #fff;
	color: #e74c3c;
	font-weight: 500;
}

.stop_category li a:hover {
	background: #fafafa;
	color: #df4e4e;
	font-weight: normal;
}

/*** 후기 박스 new_ver ***/

.horizon_review_box {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #eaeaea;
}

.horizon_review_box ul {
}

.horizon_review_box li {
	list-style: none !important;
	/*padding:20px !important;*/
	border: 1px solid #eaeaea;
	background: #fafafa;
	border-top: 0;
	overflow: hidden;
	font-size: 14px;
	line-height: 22px;
	height: 130px;
	padding-bottom: 0 !important;
}

.horizon_review_box li a {
	display: block
}

.horizon_review_box li .title {
	float: left;
	padding: 20px;
	background: #999;
	width: 150px;
	height: 90px;
}

.horizon_review_box li .title .tit {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #fff
}

.horizon_review_box li .title .date {
	font-size: 12px;
	color: #fff;
	opacity: 0.7;
}

.horizon_review_box li .contents {
	float: left;
	width: 370px;
	padding: 20px;
}

.horizon_review_box li .contents .con {
	color: #5d5d5d;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	height: 4.5em
}

.horizon_review_box li .thumbnail {
	float: right;
	width: 150px;
	height: 100px;
	padding: 15px 15px 0px;
}

.horizon_review_box li .thumbnail img {
	width: 100%;
	height: 100%
}

.horizon_review_box li .contents .go_btn {
	display: inline-block;
	color: #df4e4e;
	font-weight: 500;
	margin-top: 10px;
	font-size: 13px
}

/*** 후기 박스 ***/

.review_box {
	display: inline-block;
	width: 100%;
}

.review_box .review {
	background: #f6f6f6;
	padding: 30px;
	color: #000;
	margin-bottom: 20px;
}

.review_box .review:last-child {
	margin-bottom: 0;
}

.review_box .review .con {
	font-size: 16px;
}

.review_box .review .con span {
	/*
	 overflow: hidden;
	 text-overflow: ellipsis;
	 display: -webkit-box;
	 -webkit-line-clamp: 3;
	 -webkit-box-orient: vertical;
	 word-wrap:break-word;
	 line-height: 1.5em;
	 height: 3.0em;
	 */
}

.review_box .review .con .r_vbtn {
	display: inline-block;
	margin-left: 5px;
	color: #df4e4e;
	cursor: pointer
}

.review_box .review .info {
	margin-top: 20px;
}

.review_box .review .info span {
	color: #888;
	font-size: 14px;
	margin-right: 15px;
}

.review_box .review .info span.star_level img {
	height: 13px;
	vertical-align: top;
	margin-top: 4px;
}

.r_vbtn_wrap {
	margin: auto;
	text-align: center;
}

.r_vbtn_wrap a.r_vbtn {
	margin: auto;
	margin-top: 20px;
	display: inline-block;
	background: #fff;
	border: 1px solid #e7e7e7;
	width: 127px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	color: #5d5d5d;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

/*** 후기작성 ***/

#review_write_bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 100;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.review_write_wrap {
	position: relative;
	width: 800px;
	margin: 80px auto 0;
}

.review_write_wrap .close_btn {
	position: absolute;
	right: 0px;
	top: -50px;
	cursor: pointer;
}

.review_write_wrap .close_btn i {
	color: #eee;
	background: #999;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle
}

.write_box {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	height: 691px;
	background: #fff;
	color: #5d5d5d;
	margin: auto;
	padding: 40px;
	overflow: auto
}

.write_box h2 {
	font-size: 30px;
	text-align: left;
	font-weight: 400
}

.write_box .table_w {
	overflow: hidden;
	margin-top: 15px;
}

.write_box .table_w th {
	border-bottom: 1px solid #eee;
	text-align: left;
	width: 15%;
	font-size: 16px;
	font-weight: 400;
	color: #aaa
}

.write_box .table_w td {
	border-bottom: 1px solid #eee;
	text-align: left;
	height: 65px;
	font-size: 15px
}

.write_box .table_w input {
	border: none;
	height: 65px;
	padding: 0;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	font-size: 16px
}

.write_box .table_w input.file_bd {
	height: auto;
}

.write_box .table_w input.calendar {
	width: 35%;
	margin-right: 25px;
	background: #fff url(../image/common/ico_calendar.png) no-repeat 96% 50%;
	background-size: 24px;
	cursor: pointer;
}

.write_box .table_w select {
	border: none;
	width: 32.9%;
	height: 65px;
	padding-left: 15px;
	font-size: 16px
}

.write_box .table_w select.full {
	width: 100%;
	width: -moz-fill-available;
	width: -webkit-fill-available;
	width: fill-available;
	background-position: 98.5% center;
}

.write_box .table_w textarea {
	width: 100%;
	width: -moz-fill-available;
	width: -webkit-fill-available;
	width: fill-available;
	overflow: auto;
	border: none;
	padding: 0;
	padding-top: 20px;
	height: 200px;
}

.write_box .table_w textarea::placeholder {
	font-size: 16px;
	color: #aaa
}

.review_write_wrap .w_btn_wrap {
	margin: 25px auto 0px
}

.review_write_wrap .w_btn_wrap a {
	background: #df4e4e;
	color: #fff;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	width: 100px;
	text-align: center;
	font-size: 14px;
}

.sns_link_box {
	position: absolute;
	right: 25px;
	bottom: 70px;
	background: #fff;
	border: 1px solid #eee;
	padding: 15px;
	-webkit-box-shadow: -2px 2px 4px rgba(0,0,0,0.07);
	box-shadow: -2px 2px 4px rgba(0,0,0,0.07);
	display: none;
}

.sns_link_box li {
	float: left;
	margin-right: 8px;
}

.sns_link_box li:last-child {
	margin-right: 0
}

.sns_link_box li a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.sns_link_box li i {
	margin-top: 8px
}

.sns_link_box li .kakao_btn {
	background: #fff200;
	color: #3a2020
}

.sns_link_box li .kakao_btn i {
	font-size: 1.6em
}

.sns_link_box li .facebook_btn {
	background: #4a6ea9;
	color: #fff;
}

.sns_link_box li .facebook_btn i {
	font-size: 1.5em
}

.sns_link_box li .naver_btn {
	background: #50b948;
}

.sns_link_box li .naver_btn img {
	width: 18px;
	vertical-align: top;
	margin-top: 8px;
}

.ajax_start_date {
	padding: 25px;
	display: none;
	float: left;
	width: calc(43% - 50px);
}

.date_select.on {
	border-bottom: 1px solid #b5b5b5;
}

.list_cal .sch_cal_wrap .sch_cal td > strong {
	text-align: center;
	margin-left: 0;
}

.list_sch {
	display: none;
	float: right;
	margin-top: 5px;
	width: 57%;
	padding-top: 25px;
}

.list_sch:after {
}

.list_sch .d_schedule_list {
	border-bottom: none;
}
