/*디자인 4(d) 추가*/
*:focus {
    outline: none;
}

/* header */
#header {
	position:relative;;
	z-index:200;
	background:#fff;
	width: 100%;
    top: 0;
    left: 0;
}

#header.not_main {
	position:absolute;
	width: 100%;
    top: 0;
    left: 0;
    background:transparent;
}

#header.not_main #gnb_c {
	background:transparent;
	border-top:none;
	border-bottom: 1px solid rgb(221 221 221 / 51%);
}
#header.not_main #gnb_c .gnb_wrap span a, #header.not_main #gnb_c .gnb_wrap span.on a, #header.not_main .top_right li a {
	color:#fff;
}
#header.not_main #gnb_c .gnb_wrap span a {
	border-bottom: 3px solid transparent;
}
#header.not_main #gnb_c .gnb_wrap span a:hover {
	border-bottom: 3px solid #fff;
}
#header.not_main #gnb_c .gnb_wrap span.on a {
	border-bottom: 3px solid #fff;
}
#header.not_main .top_right li a.join_btn {
	border: 1px solid #fff;
}

#header.not_main .top_right li a.join_btn:hover {
	border: 1px solid #ff6f61;
}

.header_inner {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.logo_area {
    position: absolute;
    top:0;
    left:80px;
    width: 1920px;
    height: 80px;
    z-index: 1001;
}

.logo_area span {
    line-height: 78px;
    font-size: 15px;
    color: #000
}

.logo_area span img {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 8px;

}

.logo_area h1 img{
	max-width: 190px;
}

.header_inner h1 a {
    position: absolute;
    top: 25px;
    left:420px;
    /*left:50%; transform:translateX(-50%)*/
}

.header_right_menu {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    float: right;
    height: 80px;
    line-height: 80px;
    z-index: 1002;
}

.header_right_menu a {
    font-size: 13px;
    color: #000;
    padding-left: 10px
}

/*upper 메뉴 디자인 */
.header_right_Menu {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 80px;
    z-index: 1003;
}

.header_right_Menu > ul > li {
    display: inline-block;
    float: left;
    position: relative;
    padding: 30px 10px 30px 10px;
}

.header_right_Menu > ul > li > a {
    display: block;
}

.header_right_Menu > ul > li:last-child {
    padding-right: 0
}

.header_right_Menu > ul > li > ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 70px;;
    padding: 8px 16px;
    background: #fff;
    border: 1px solid #eaeaea;
    display: none;
}

.header_right_Menu > ul > li > ul > li {
    border-bottom: 1px solid #eaeaea
}

.header_right_Menu > ul > li > ul > li:last-child {
    border-bottom: none;
}

.header_right_Menu > ul > li > ul > li > a {
    font-size: 12px;
    color: #111;
    display: block;
    padding: 6px 0
}

.header_right_Menu > ul > li > ul > li > a:hover {
    color: #999;
}

.header_box {
    position: relative;
    height: 80px;
    line-height: 80px;
}

.header_box .inner {
    width: 1200px;
    margin: 0 auto
}

.gnb_opener {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.gnb_opener p {
    display: inline-block;
    width: 80px;
    height: 80px;
    /*text-align: center;*/
}

.gnb_opener i {
    position: relative;
    top: 20px;
    color: #000
}

/* top_menu_c */

.top_wrap_c {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    background: #fff;
    /*border-bottom: 1px solid #efefef*/
}

.top_menu_c {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    position: relative;
}

.top_menu_c form#top_search_frm {
	position:absolute;
	top:-46px;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.top_menu_c form#top_search_frm.search-visible {
	top:0;
}

.top_menu_c a {
    color: #7f8c8d;
    display: inline-block;
    font-size: 12px;
    padding: 0 16px
}

.top_menu_c a:hover {
    color: #000
}

.top_menu_c .top_left {
    float: left;
}

.top_menu_c .top_left li {
    float: left;
    display: block;
    /*border-left: 1px solid #efefef*/
}

.top_menu_c .top_left li:last-child {
    padding-left: 8px;
}

.top_menu_c .top_left li:last-child a {
    display: inline-block;
    margin-right: 2px;
    padding: 6px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    /*border: 1px solid #efefef;*/
    /*background: #efefef;*/
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.top_menu_c .top_left li:last-child a:hover {
    background: #34495e;
    color: #fff;
}

.top_right {
    float: right;
    margin: 9px auto;
}

.top_right li {
    float: left;
    position: relative;
    display: inline-block;
    padding: 0 14px;
    
    /*border-left: 1px solid #efefef*/
}

.top_right li:last-child {
    /*border-right: 1px solid #efefef*/
   margin-right: 0
}

.top_right li a {
    display: block;
    font-size: 15px;
    /*font-weight: 500;*/
    color:#5d5d5d;
    transition:all 0.3s;
    padding: 8px 6px;
}

.top_right li.language a {
	padding: 8px 6px 0 6px;
}

.top_right li.language a i {
	vertical-align : middle;
	margin-left:3px;
}

.top_right li.language ul.det_menu {
	width: 30px;
    position: absolute;
    background: #fff;
    z-index: 22;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
    top:32px;
    left: 13px;
    padding:4px 1px;
}


.top_right li.language ul.det_menu li {
	padding: 4px 5px;
	float:none;
}

.top_right li.language ul.det_menu li a {
	padding: 0;
}

.top_right li.language img {
	border: 1px solid #ddd;
}

.top_right li a.join_btn {
	border: 1px solid #ff6f61;
	color: #ff6f61;
	border-radius: 6px;
	transition: all 0.3s;
	padding: 8px 16px;
}

.top_right li a.join_btn:hover {
	background:#ff6f61;
	color: #fff;	
}

.top_right li a:hover {
	color:#ff6f61;
}

/*.top_right li a:after {
	content: '';
    width: 1px;
    height: 13px;
    background: #cfcfcf;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6.5px;
}

.top_right li:last-child a:after {
	content: '';
    width: 1px;
    height: 13px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6.5px;
}*/

.top_right li.search-open a {
	cursor: pointer;
    color: #ff6f61;
    font-weight: 600 !important;
    font-size: 12px;
    transition: all 0.3s;
}



.top_right li.search-open a:hover {
	color: #fff;
	background: #ff6f61;
}


/* top_search_c */

.logo_zone_c {
    display: block;
    width: 1200px;
    margin: 15px auto 0px;
    position: relative;
}

.logo_zone_c:after {display:block; clear:both; content:""; width:100%;}

.logo_zone_c .logo_wrap {
    margin: 8px 35px 8px 5px;
    float:left;
}

.logo_zone_c .logo_wrap h1 img {
    max-width: 190px;
}

.logo_zone_c .logo_wrap h1 img.not_main {
	filter: brightness(0) invert(1);
}

.add_search {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 76%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 500px;
    z-index: 100;
    /*padding: 10px;*/
    /*background: rgba(255,255,255,0.5);*/
}


.logo_zone_c .search-open {
	float:left;
    width: 250px;
    padding: 12px 15px 11px 7px;
    /*border: 1px solid #ff6f61;*/
    background:#f5f6f7;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 7px;
}

.logo_zone_c .search-open input[name="searching_box"] {
	background: none;
    border: 0;
    width: calc(100% - 30px);
    color: #656d72;
    box-sizing: border-box;
    height: 100%;
    padding: 2px 5px;
}

.logo_zone_c .search-open input[name="searching_box"]::placeholder {
	color:#656d72;
}

.logo_zone_c .search-open:after {display:block; clear:both; content:""; width:100%;}

.logo_zone_c .search-open a {
	float: left;
    font-weight: 500;
    margin-top:1px;
    color:#656d72;
}

.logo_zone_c .search-open i {
	font-size: 23px;
    float: left;
    color: #656d72;
}

.not_main .logo_zone_c .search-open {
	background:#ffffff;
}

.add_search {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 76%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 500px;
    z-index: 100;
    /*padding: 10px;*/
    /*background: rgba(255,255,255,0.5);*/
}


.top_search_wrap .inner {
    position: relative;
    height: 46px
}

.top_search_wrap .inner input.input_search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 46px;
    background: #f7f7f7;
    border: 2px solid #16a085;
    border-radius: 6px;
    font-size: 10pt;
    float: left;
    color: #616161;
    padding-left: 12px;
    padding-right: 56px;
}

.top_search_wrap .inner .icon {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    background: #16a085;
    right: 0;
    z-index: 1;
    color: #616161;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.top_search_wrap .inner .icon i {
    position: relative;
    top: 10px;
    left: 0px;
    color: #fff
}


/* gnb_c */

#gnb_c {
    font-family: 'Noto Sans KR', sans-serif;
    clear: both;
    font-size: 15px;
    /*letter-spacing: -1px;*/
    background: #fff;
    /*border-top: 1px solid #e8e8e8;*/
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.gnb_wrap {
    position: relative;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.gnb_wrap.move {
    text-align: right;
}

.gnb_wrap a.gnb_go_home {
    position: absolute;
    display: inline-block;
    top: -64px;
    left: 0;
    width: 60px;
    height: 60px;
    background: #ff6f61;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.gnb_wrap a.gnb_go_home.move {
    top: 0;
    opacity: 1
}

.gnb_wrap a.gnb_go_home i {
    line-height: 60px;
}

.gnb_wrap:after {display:block; clear:both; content:""; width:100%;}

.gnb_wrap span {
    display: inline-block;
    position: relative;
    float:left;
}

.gnb_wrap span.swiper-slide {
	width: auto;
}

.gnb_wrap span.swiper-slide span.new {
	font-size: 10px;
    float: none;
    position: absolute;
    top: 2px;
    right: 32px;
    background: #485cc7;
    color: #fff;
    padding: 1px 9px;
    letter-spacing: 1px;
    border-radius: 25px;
}

.gnb_wrap span.swiper-slide span.event {
	font-size: 10px;
    float: none;
    position: absolute;
    top: 2px;
    right: 32px;
    background: #00a4b4;
    color: #fff;
    padding: 1px 9px;
    letter-spacing: 1px;
    border-radius: 25px;
}

.gnb_wrap span a {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin-right: 40px;
    height: 54px;
    font-size: 16px;
    line-height: 58px;
    color: #111;
    font-weight: 500;
    display: block;
    text-align: left;
    text-decoration: none;
    background: url() no-repeat center bottom;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border-bottom: 3px solid #fff;
}

/*.gnb_wrap span>a:after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: #ddd;
    position: absolute;
    bottom: 23px;
    right: 0;
}

.gnb_wrap span:last-child>a:after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    bottom: 23px;
    right: 0;
}*/

.gnb_wrap span a.move {
    width: 116px;
}

.gnb_wrap span a:hover {
    border-bottom: 3px solid #ff6f61;
    text-decoration: none;
    /*background: url(../image/main_b/nav_on.png) no-repeat center bottom;*/
}

.gnb_wrap span.on a {
    border-bottom: 3px solid #ff6f61;
    text-decoration: none;
}

.gnb_wrap span .top_menu_ready {
    display: block;
    /*background: url(../image/common/ico_ready.png) no-repeat 0 0;*/
    width: 55px;
    height: 22px;
    position: absolute;
    top: -6px;
    left: 31px;
}


#gnb_c._fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
}

#gnb_c._fix .hotel_search_area {
	padding: 20px 0 0 0;
	border-top: none;
}

#gnb_c._fix .hotel_search_area .search_box{
	border-bottom: none;
}

/*#header {
	position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}*/

/* gnb */
#gnb_d {
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.gnb_d {
    /*display: none;*/
    margin: 0 auto;
}

.gnb_d a {
    color: #fff
}

.gnb_d:after {
    content: '';
    display: block;
    clear: both;
}

.gnb_d.on {
    display: block;
}

.gnb_d > li {
    line-height: 20px;
    height: 76px;
    background: rgba(0,0,0,0.9);
    border-bottom: 1px solid rgba(255,255,255,0.12)
}

.gnb_d > li:last-child {
    border-bottom: none;
    height: 120px;
}

.gnb_d > li:nth-child(even) {
    background: rgba(0,0,0,0.85);
}

.gnb_d_list {
    width: 1200px;
    margin: 0 auto
}

.gnb_d_list > a {
    display:inline-block;
    width: 140px;
    height: 76px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 76px;
    float: left;
}

.gnb_d_list > a:hover {
    color: #ff502a;
}

.gnb_d_list > ul > li {
    display: inline-block;
    float: left;
    height: 76px;

}

.gnb_d_list > ul > li > a {
    display:inline-block;
    height: 76px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 76px;
}

.gnb_d_list > ul > li > a:hover {
    color: #ff502a;
}

.gnb_d_info {
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
}

.gnb_d_info .left {
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    color: #cecdcd;
    position: relative;
    top: -6px
}

.gnb_d_info .left b {
    display: inline-block;
    margin-left: 60px;
    font-size: 40px;
    font-weight: 500;
    color: #ff502a;
    position: relative;
    top: 6px
}

.gnb_d_info .right {
    display: inline-block;
    float: right;
    font-size: 0
}

.gnb_d_info .right a {
    padding: 20px;
}




/*parallax 배너 */
.parallax-window {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.parallax-window p img {
    width: 280px
}

.parallax-window img.bg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.parallax-window p {
    position: absolute;
    left: 50%;
    margin: 100px 0 0 -130px;
    z-index: 10;
}


/* footer */
.footer {
    position: relative;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    color: #888;
    background: #fff;
    padding: 70px 0 80px 0;
    border-top: 1px solid #ddd;
}

.footer:after {
    content: '';
    display: block;
    clear: both;
}

.footer .inner {
    width: 1200px;
    margin: 0 auto 30px;
    padding : 40px 0 50px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footer .inner:after {
    content: '';
    display: block;
    clear: both;
}

.address {


}

.address h2 {
    height: 60px;
}

.address h2 img{
	max-width: 200px;	
}

.address ul li {
    font-size: 13px;
    color: #414141;
    line-height: 26px;
    font-weight: 300;
}

.address ul li span.slash {
	margin:0 10px;
}

.footer_menu {
    /*width: 666px;*/
    float: left;
}

.footer_menu > ul > li {
    display: inline-block;
    width: 222px;
    float: left;
}

.footer_menu > ul > li.time_area {
	width: 312px;
}

.footer_menu > ul > li h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    padding-bottom: 11px;
}

.footer_menu > ul > li a {
    font-size: 12px;
    color: #414141;
    line-height: 30px;
    font-weight: 300;
}

.footer_menu > ul > li a:hover {
    text-decoration: underline;
}

.footer_menu > ul > li a.contact_btn {
	border: 1px solid #ddd;
	padding: 9px 85px;
	transition:all 0.3s;
}

.footer_menu > ul > li a.contact_btn:hover {
	text-decoration: none;
	border: 1px solid #888888;
	color:#111;
}

.footer_menu ul.card_img:after {display:block; clear:both; content:""; width:100%;}

.footer_menu ul.card_img li {
	float:left;
	margin-right: 12px;
}

.footer_menu ul.card_img li.american {
	width: 34px;
}

.footer_menu ul.card_img li.visa {
	width: 55px;
	margin-top: 7px;
}

.footer_menu ul.card_img li.master {
	width: 42px;
	margin-top: 6px;
}

.footer_menu ul.card_img li:last-child {
	margin-right: 0;
}
	
.footer_menu ul.card_img img {
	width: 100%;
}

.footer_menu .phone {
    font-size: 22px;
    color: #888;
    font-weight: 500;
    padding-bottom: 8px
}

.footer_menu .phone i {
    margin-right: 10px;
}

.footer_menu .work_time span {
    display: block;
    padding-bottom: 2px;
    color: #414141;
}

.footer_menu .work_time span.last {
    margin-top: 10px;
    font-size: 12px;
    color: #414141
}

.footer_2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer_2 .copyright {
    display: inline-block;
    width: 1200px;
    height: 42px;
    float: left;
    font-size: 12px;
    color:#999;
    line-height: 42px;
}

.footer .sns {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.footer .sns:after {display:block; clear:both; content:""; width:100%;}

.footer .sns a {
	display:block;
	float:left;
	width: 222px;
}

.footer .sns a:first-child {
	width: 312px;
}

.footer .sns a:after {display:block; clear:both; content:""; width:100%;}

.footer .sns span {
    display: inline-block;
    float:left;
    width: 42px;
    height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 8px;
    transition: all 0.3s;
}

.footer .sns span.txt {
	width: auto;
	color: #414141;
	border: none;
	line-height:35px;
}

.footer .sns i {
    font-size: 17px;
    position: relative;
    top: 8px;
    transition: all 0.3s;
    color:#868686;
}

.footer .sns a:hover span:first-child {
    background: #fff;
    border: 1px solid #9b9b9b;
}

.footer .sns a:hover span:first-child i {
    color: #111
}

.footer .sns a:hover span:nth-child(2) {
	text-decoration: underline;
}

/* footer_c */

#footer_c {
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    color: #111;
    background: #fff;
    border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

#footer_c .footer_menu_c {
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
}

#footer_c .footer_menu_c a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    color: #333;
}

#footer_c .footer_menu_c a b {
    color: #333
}

#footer_c .footer_menu_c a:hover {
    color: #000;
    text-decoration: underline;
}

#footer_c .footer_menu_c a:first-child {
    border-left: 1px solid #ddd
}

#footer_c .footer_menu_c a:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ddd;
    position: absolute;
    top: 20px;
    right: 0;
}

#footer_c .footer_menu_c a.end:after {
    opacity: 0
}

#footer_c .footer_menu_c .go_top_c {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 49px;
    height: 49px;
    background: #c7c7c7;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#footer_c .footer_menu_c .go_top_c i {
    position: relative;
    top: 15px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#footer_c .footer_menu_c .go_top_c:hover {
    cursor: pointer;
    background: #ff6f61
}

#footer_c .footer_menu_c .go_top_c:hover i {
    font-size: 26px;
    top: 10px
}

.footer_copyright_c {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 16px
}

.footer_copyright_c h2 {
    position: relative;
    height: 50px;
}

.footer_copyright_c .address_c {
    font-size: 12px
}

.footer_copyright_c .address_c p {
    padding: 2px 6px
}

.footer_copyright_c .address_c p span {
    display: inline-block;
    padding-right: 20px;
}

.footer_copyright_c .address_c p b {
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    color: #333
}

.footer_copyright2_c {
    width: 100%;
    background: #434446;
}

.footer_copyright2_c .inner {
    /*font-family: "돋움";*/
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 12px;
    color: #bebebe;
}

.footer_copyright2_c .inner p {
    font-weight: 400;
    margin-left: 16px;
    padding-bottom: 3px;
}

.footer_copyright2_c .inner p.alert {
    color: #8e8e8e
}


/*goTop*/
.go_top {
	display:none !important;
    position: absolute;
    bottom: 30px;
    right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 49px;
    height: 49px;
    background: #333333;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
}

.go_top i {
    position: relative;
    top: 15px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.go_top:hover {
    cursor: pointer;
    background: #ff6f61;
    border : 1px solid #ff6f61;
}

.go_top:hover i {
    font-size: 26px;
    top: 10px
}

/*사이드 핸들 */

.handle {
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: -40px;
    /*z-index: 2000;*/
    -webkit-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.07);
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.07);
}

.handle li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    cursor: pointer;
}

.handle li:last-child {
    border-bottom: 1px solid #ddd
}

.handle li:first-child {
    border: 1px solid #051C2C;
    background: #051C2C;
    color: #fff
}

.handle li i {
    line-height: 40px
}


/*hastip 디자인*/

.tooltipsy {
    height: 26px;
    width: 60px;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    /*padding:12x 12px;*/
    max-width: 200px;
    color: #fff;
    background-color: #ff6f61;
    /*border: 1px solid #ddd;*/
}





/* 사이드 컨텐츠 */

.sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 236px;
    background: #fff;
    padding: 0 18px;
    position: fixed;
    top: 0;
    right: -236px;
    /*border-left: 1px solid #ddd;*/
    z-index: 3000;
    -webkit-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.07);
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.07);
}


.sidebar .inner {
    position: absolute;
    top: 20%;
    width: 200px;
}

.sidebar .inner .banner {
    position: relative;
    text-align: center;
}




/*사이드 bxSlide*/

.banner {
    position: relative;
}

.banner img {
    /*width: 100%;*/
    margin: 0 auto
}

.pager_02 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.pager_02 div {
    display: inline-block;
}

.pager_02 a {
    background: none;
    text-indent: -9999px;
    display: inline-block;
    width: 12px;
    height: 3px;
    margin: 0 3px;
    border-radius: 10px;
    background: #666
}

.pager_02 a:hover,
.pager_02 a.active,
.pager_02 a:focus {
    background: #fff;
}




/*사이드 게시판 리스트 */

.sidebar .tit {
    text-align: left;
    font-size: 13px;
    /*font-weight: 500;*/
    color: #333;
    padding: 6px 8px;
    margin-bottom: 10px;
    background: url(../image/main/bg_slash_01.png) #fff;
}

.cs_menu {
    margin: 20px 0
}

.cs_menu ul:after {
    content: '';
    display: block;
    clear: both;
}

.cs_menu li {
    float: left;
    width: 50%;
    height: 28px;
    margin-bottom: 1px;
}

.cs_menu ul a {
    display: block;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    font-size: 11px;
    color: #666;
    text-indent: 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.cs_menu ul li:nth-child(odd) a {
    border-right: none
}

.cs_menu ul a:hover {
    background: #efefef;
    font-weight: 500
}



/*사이드 오늘 본 상품 */

.toady_view_list .arrow {
    cursor: pointer;
    display: inline-block;
    float: right;
}

.toady_view_list .arrow i {
    padding: 3px;
    background: #fff;
    border: 1px solid #afafaf;
    color: #666;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.toady_view_list .arrow i:hover {
    background: #999;
    border: 1px solid #afafaf;
    color: #fff;
}

.toady_view_list li {
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #efefef
}

.toady_view_list li a {
    display: block;
}

.toady_view_list li a:hover {
    text-decoration: underline;
}

.toady_view_list li a img {
    display: block;
    float: left;
    padding-right: 12px;
}

.toady_view_list li span {
    display: table-cell;
    text-align: left;
    font-size: 11px;
    color: #666;
    height: 53px;
    vertical-align: middle;
}

/* 스탭 */

.rbox_staff {
    overflow: hidden;
    /* border-top: 1px solid #e7e7e7; */
    border: 1px solid #ddd;
    padding: 9px 24px;
    margin-bottom: 20px;
    
    width: 450px;
}

.rbox_staff .photo {
    float:left;
    width:60px;
    height:60px;
	border:1px solid #ddd;
    overflow: hidden;
    margin-right:15px;
	text-align:center;
}

.rbox_staff .photo img{
	width:100%;
	height:100%;
}

.rbox_staff .photo.none {
    background: #e1e1e1 url(../image/common/profile_none.png) bottom center no-repeat;
	background-size:80px;
}

.rbox_staff .staff{
	float:left;
	width:30%;
	/*width:75%;*/
}

.rbox_staff .staff .name{
	font-size:18px;
	line-height:22px;
	margin-bottom:10px;
}

.rbox_staff .staff .name span{
	display:block;
	color:#ff6f61;
	font-size:14px;
}

.rbox_staff .notice{
	float: right;
    width: 40%;
    max-height: 72px;
    overflow: auto;
    padding: 10px 10px;
    border: solid 1px #ff6f61;
    border-radius: 5px;
}

.rbox_staff li{
	font-size:12px;
	margin:2px 0px;
	color:#5d5d5d;
}

.rbox_staff li a {
	color:#5d5d5d;
}

.rbox_staff li span{
	font-weight:500;
	margin-right:5px;
    color: #5d5d5d;
}

/* 호텔 체크인 박스 */

.rbox_hotel {
    overflow: hidden;
    /* border-top: 1px solid #e7e7e7; */
    border: 1px solid #ddd;
    padding: 10px 24px;
    margin-bottom: 20px;
    
    width: 450px;
}


.rbox_hotel .hotel{
	width: 100%;
}

.rbox_hotel .hotel:after {
	clear:both:
	content: "";
	display:block;
	width:100%
}

.rbox_hotel .hotel ul {
	width:50%;
	float:left;
}

.rbox_hotel .hotel .name{
	font-size:18px;
	line-height:22px;
	margin-bottom:10px;
}

.rbox_hotel .hotel .name span{
	display:block;
	color:#ff6f61;
	font-size:14px;
}

.rbox_hotel .notice{
	float: right;
    width: 40%;
    max-height: 72px;
    overflow: auto;
    padding: 10px 10px;
    border: solid 1px #ff6f61;
    border-radius: 5px;
}

.rbox_hotel li{
	font-size:14px;
	margin:4px 0px;
	color:#5d5d5d;
}

.rbox_hotel li a {
	color:#5d5d5d;
}

.rbox_hotel li span{
	font-weight:500;
	margin-right:5px;
    color: #5d5d5d;
}



/* 오른쪽 디테일 박스 */

.res_br_area {display:none;}

.detail_rbox_wrap{
	width:370px;
	background:#fff;
	position:absolute;
	top:0px;
	left:73%;
	margin-left:230px;
	z-index:40;
	border-radius: 10px;
	
}

.detail_rbox_wrap.hotel{
	border: 1px solid #e1e1e1;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.07);
}

.detail_rbox_wrap.for_tour{
	border:0;
	box-shadow:none;
	width: 340px
}

.detail_rbox_wrap.for_tour .rbox_info {
	padding: 20px 4px;
}

.detail_rbox_wrap.fixed{position:fixed;top:50px !important; left:49.7%}

.detail_rbox_wrap.for_tour.fixed{left:51.4%}

.detail_rbox_wrap.on{position:absolute; top:auto !important; bottom: 15px; left:73%;}

.detail_rbox_wrap.for_tour.on{left:73%;}

.rbox_info{
	padding:20px 24px;	
}

.rbox_info .date{
	overflow:hidden;
}

.rbox_info .date ul{}

.rbox_info .date li{
	/*
	display:inline-block;
	width:65%;
	*/
	padding:10px 0px;
	font-size:14px;
	line-height:20px;
	border-bottom:1px solid #ddd;
}

.rbox_info .date li .tit{
	font-weight:500;
	margin-right:15px;
}

.rbox_info .total{
	font-weight:500;
	position:relative;
	margin-bottom:15px;
}

.rbox_info .total:after {display:block; clear:both; content:""; width:100%;}

.rbox_info .total .tit{
	float:left;
	font-size:14px;
}

.rbox_info .pass_inner .total .tit{
	margin: 8px 0 7px;
}

.rbox_info .total .original_price .lt_price:after {display:block; clear:both; content:""; width:100%;}

.rbox_info .total .original_price .lt_price {
	float:left;
	text-decoration: line-through;
	color:#818892;
}

.rbox_info .total .original_price .discount_percent:after {display:block; clear:both; content:""; width:100%;}

.rbox_info .total .original_price .discount_percent {
	color: #ff6f61;	
}

.rbox_info .total .original_price .discount_percent i {
	float:left;
	font-size:15px;
	margin-top: 2px;
}

.rbox_info .total .original_price .discount_percent span {
	float:left;
}

.rbox_info .total .price{
	float:right;
	color:#ff6f61;
	font-size:24px;
}

.rbox_info .total .amount {
	font-size:24px;
	font-weight: 600;
	color: #2f363c;
	letter-spacing: -1px;
}

.rbox_info .total .sub_text {
	color: #818892;
}
	
.rbox_info .total .share_btn {
	position:absolute;
	right:0;
	bottom:2px;
}

.rbox_info .total .share_btn i {
	font-size: 25px;
}	

.rbox_info .btn{
	margin-bottom:10px;
	overflow:hidden;
}

.rbox_info .benefit {
	
}

.rbox_info .benefit ul li {
	padding: 0px 15px 10px ;
}

.rbox_info .benefit ul li:after {display:block; clear:both; content:""; width:100%;}

.rbox_info .benefit ul li i {
	font-size:21px;	
	float:left;
	margin-right: 8px;
}

.rbox_info .benefit ul li span {
	font-size:15px;
	float:left;
	color: #6b6b6b;
}

.rbox_info .benefit ul li i.branding_color {
	color: #ff6f61;
}

.rbox_info .benefit ul li i.light_color {
	color: #f3ca20;
}

.rbox_info .benefit ul li img {
	width: 22px;
	float:left;
	margin-right: 8px;	
}
	

.rbox_info .benefit ul li i.circle_bd {
	border: 1px solid #6b6b6b;
	border-radius: 50%;
	font-size:20px;
}


.detail_schedule_wrap .btn{
	float:right;
	margin-top: 12px;
	margin-bottom:10px;
}

.detail_schedule_wrap .btn.addsv.for_hotel{
	margin-top: 10px;    
	margin-bottom: 10px;
	padding-bottom: 30px;
	width:100%;
	float:none;
	border-bottom: 1px solid #d7d7d7;
}

.detail_schedule_wrap .btn.addsv.for_hotel:after{
	width:100%;
	display:block;
	content:"";
	clear:both;
}

.rbox_info .btn:last-child, .detail_schedule_wrap .btn:last-child{
	margin-bottom:0
}

.rbox_info .btn a, .detail_schedule_wrap .btn a{
	display:block;
	float:left;
	width: 55px;
	text-align:center;
	margin-right:9px;
	border:1px solid #ddd;
	background:#fff;
	line-height:50px;
	height:50px;
	font-size:16px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	font-weight:500;
}

.btn.addsv.for_hotel a{
	width: 90px;
}

.rbox_info .btn a:last-child{
	margin-right:0;
}

.btn a i {
    color: #ff6f61;
    padding: 11px;
    font-size: 20px;
}

.btn.addsv.for_hotel a i{
	color:#ff6f61;
	margin-right:5px;
	font-size: 20px;
	vertical-align: middle;
	padding:0;
}

.btn a span{
	font-weight: 500;
    color: #6b6b6b;
}


.rbox_info .btn a.reserve{
	width:100%;
	color:#fff;
	background:#051C2C;
	border: none;
}

.rbox_info .pass_inner .btn a.reserve{
	background:#ff6f61;
	margin-right: 0;
}

.rbox_info .btn a.reserve.cart{
	background:#ff6f61;
}

.rbox_info .btn a.reserve.another{
	background: #051C2C;
}

.rbox_info .btn a.reserve.close{
    background: #e2e2e2;
    border: 1px solid #e2e2e2;
    color: #999;	
}

.rbox_info .btn a.reserve.wish_list_btn {
	background: #fff;
	border: 1px solid #cfd4da;
	box-sizing:border-box;
	line-height: 48px;
}

.rbox_info .btn a.reserve.wish_list_btn:after {display:block; clear:both; content:""; width:100%;}

.rbox_info .btn a.reserve.wish_list_btn i {
	padding:0;
	color:#ddd;
	vertical-align: text-bottom;
}

.rbox_info .btn a.reserve.wish_list_btn span {
}

.btn a.kakaocs{
	width:55px;
	color:#37191b;
	background:#eee;
	border:1px solid #eee;
}

.btn a.kakaocs i{
	color:#37191b;
    font-size: 1.4em;
    vertical-align: middle;
}

.btn.addsv a{
	height:42px;
	line-height:42px;
	font-size:14px;
	font-weight:300;
}

.btn.addsv a:last-child {
	margin-right: 0px;
}

.rbox_info .right_product_tit {
	margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
    color: #111;
    font-weight: 500;
}
	

.rbox_info .right_q_tit {
	margin-top: 13px;
    margin-bottom:6px;
    font-size: 15px;
    color: #424242;
    font-weight: 500;
}

.rbox_info .right_q_tit .op_sub_tit{
	font-size:12px;
	color:#777777;
	
}

.rbox_info .pp_num, .rbox_info .car_num{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background:#fff;
	padding:5px 10px;
	height:100%;
	
}

.rbox_info .pp_num li, .rbox_info .car_num li{
	overflow:hidden;
	font-size:13px;
	margin-bottom:5px;
}

.rbox_info .pp_num li:last-child, .rbox_info .car_num li:last-child{
	margin-bottom: 0;
}

.rbox_info .pp_num li .people, .rbox_info .car_num li .people{
	float:left;
	width:40%;
	padding:4px 0px;
}

.rbox_info .pp_num li .room_type {
	float:left;
	width:40%;
	padding: 8px 0;
}

.rbox_info .pp_num li .people span, .rbox_info .car_num li .people span {
	color:#000;
	font-size:15px;
	font-weight: 500;
	display:block;
}

.room_select {
	float:right;
	font-size:24px;
}

.room_select select{
	width: 91px;
    height: 35px;
}

.number {
	float:right;
	font-size:21px;
	padding-top: 8px;
}
.number_plate{
	width: 33px;
	text-align: center;
	display:inline-block;
}

.rbox_info .pp_num li .p_total, .rbox_info .car_num li .p_total{
	float:right;
	width:60%;
	text-align:right;
	color:#ff6f61;
	font-weight:500;
	font-size:16px;
	line-height:20px;
	padding:3px 0px;
}

.rbox_info .pp_num li .p_total select, .rbox_info .car_num li .p_total select{
	width:55px;
	height:35px;
	margin-left:10px;
}

.rbox_info .pp_num li .p_total .sur, .rbox_info .car_num li .p_total .sur{
	font-size:12px;
	display:block;
	color:#999;
	line-height:20px;
}

.rbox_info .pp_num_select, .rbox_info .car_num_select{
	overflow:hidden;
	padding:10px 0px;
}

.rbox_info .pp_num_select li, .rbox_info .car_num_select li{
	float:left;
	font-size:14px;
	width:33.3%;
}

.rbox_info .pp_num_select li span, .rbox_info .car_num_select li span{
	display:inline-block;
	margin-right:4px;
	font-size:13px;
	color:#888;
}

.rbox_info .pp_num_select li select, .rbox_info .car_num_select li select{
	width:60%;
	background-position:92% 50%;
	height:34px;
}

.rbox_info .pp_num_no_des{
	border: 1px solid #ddd;
	background:#fff;
	padding:10px;
	height:100%;
	
}

.rbox_info .pp_num_no_des ul:after {
	content:"";
	width:100%;
	clear:both;
	display:block;
}

.rbox_info .pp_num_no_des li{
	overflow:hidden;
	font-size:13px;
	margin-bottom:0px;
	
	
}

.rbox_info .pp_num_no_des li:last-child{
	margin-bottom: 0;
	margin-top:8px;
}

.rbox_info .pp_num_no_des li .people{
	float:left;
	width:60%;
	padding:8px 0px;
}



.rbox_info .pp_num_no_des li .people span{
	color:#000;
	font-size:17px;
	font-weight: 500;
	display:block;
}

.rbox_info .pp_num_no_des .number {
	padding-top: 0;
}

.rbox_info .pp_num_no_des .number_plate {
	
}

.rbox_info .pp_num_no_des li .p_total{
	float:right;
	width:60%;
	text-align:right;
	color:#ff6f61;
	font-weight:500;
	font-size:16px;
	line-height:20px;
	padding:3px 0px;
}

.rbox_info .pp_num_no_des li .p_total select{
	width:55px;
	height:35px;
	margin-left:10px;
}

.rbox_info .pp_num_no_des li .p_total .sur{
	font-size:12px;
	display:block;
	color:#999;
	line-height:20px;
}


.rbox_info .op_num{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background:#fff;
	padding:5px 10px;
	height: 118px;
    overflow: auto;
	
}

.rbox_info .op_num li{
	overflow:hidden;
	font-size:13px;
	margin-bottom:5px;
}

.rbox_info .op_num li:last-child {
	margin-bottom: 0;
}

.rbox_info .op_num li .people{
	float:left;
	width:60%;
	padding:4px 0px;
}

.rbox_info .op_num li .people span{
	color:#000;
	font-size:15px;
	font-weight: 500;
	display:block;
}


.rbox_info .remain{
	border-bottom: 1px solid #ddd;
	overflow:hidden;
	padding:5px 5px 13px;
	margin-bottom: 13px;
}

.rbox_info .remain div{
	float:left;
}

.rbox_info .remain .tit{
	width:20%;
	font-size:14px;
	font-weight:500
}

.rbox_info .remain .count{
	width:80%;
	font-size:14px
}

.rbox_info .remain .count span{
	color:#999;
	font-size:12px
}

.rbox_info .remain .state{
	width:20%;
}

.rbox_info .remain .state span{
	height:20px;
	line-height:20px;
	text-align:center;
	width:50px;
	font-size:12px;
	float:right;
}

.rbox_info .remain .state span.able{
	color:#ff6f61
}

.rbox_info .remain .state span.ok{
	color:#ff2b3f
}

.rbox_info .remain .state span.wait{
	color:#ffb22b
}

.rbox_info .remain .state span.close{
	color:#aaa
}

.rbox_info .detail_other_schedule{
	margin:10px 0px
}

.rbox_info .detail_other_schedule a{
	display:block; 
	background:#555;
	color:#fff;
	height:44px;
	line-height:44px;
	text-align:center; 
	font-size:14px;	
	/*background:#aaa; 
	color:#fff; 
	height:76px;
	line-height:76px;
	padding:0px 8px;
	position:absolute;
	right:25px;
	top:25px;
	*/
}


.rbox_info .detail_other_schedule a i{
	display:inline-block; 
	margin-right:5px;
}


/* new 페이징 */

.page_number{
	width: 100%;
    text-align: center;
    padding-top: 0px;
    clear: both;
    position: relative;
    margin-top: 30px;
	font-size:14px;
}
}

.page_number span{
	display:inline-block;
}

.page_number ul{
	margin:0px 16px;
	display:inline-block;
}

.page_number ul li{
	list-style:none;
	margin:0px 8px;
	display:inline-block;
	padding:0;
}

.page_number ul li.on a{
	color:#ff6f61;
	font-weight:500;
}

/* 상세디테일 빠른 메뉴 */

.product_quick_menu{
	width:100%; 
	width:-moz-available;
	width:-webkit-fill-available; 
	width:fill-available;
	overflow:hidden;
	margin-top:30px;
	margin-bottom:40px;
	background:#fff;
}

.product_quick_menu.fixed{
    position: fixed;
    top: 120px;
    width: 806px;
    height: 76px;
    background: #eee;
    border-top:0;
    z-index:40;
}

.product_quick_menu.fixed ul{
	margin:15px;
}

.product_quick_menu ul{
	overflow:hidden;
	border-top:1px solid #d2d2d2;
}

.product_quick_menu li{
	float:left;
	width:16.64%;
}

.product_quick_menu li a{
	display:block;
	border:1px solid #d2d2d2;
	background:#fff;
	border-right:0;
	border-top:0;
	height:43px;
	line-height:43px;
	text-align:center;
	font-size:14px;
	color:#888
}

.product_quick_menu li:last-child{
	border-right:1px solid #d2d2d2
}

.product_quick_menu li.on a{
	color:#ff6f61;
	border:1px solid #ff6f61;
	font-weight:500;
	height: 42px;
	line-height:42px;
}

.product_quick_menu li a:hover{
	color:#ff6f61;
}


/* 하단 바 */

.bottom_bar{
	height:70px;
	width:100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #ddd;
    position: fixed;
    z-index: 1000;
    bottom:0px;
    padding-bottom:10px;
}

.bottom_bar .total{
    position: absolute;
    left: 15px;
	top:11px;
}   

.bottom_bar .total span{
	display:block;
	font-size:12px
}

.bottom_bar .total .price {
	color:#ff6f61; 
	font-size:20px; 
	line-height: 24px;
	text-align:left;
}

.bottom_bar .info_btn{
	float:right; 
	margin-top:6px; 
	margin-right:6px;
}

.detail_rbox_wrap.hotel .bottom_bar .btb_btn a.other_date_mobile  {
	padding: 0 9px;
}

.detail_rbox_wrap.hotel .bottom_bar .btb_btn a.reserve {
	width: calc(100% - 124px) !important;
}
	

.detail_cont_box {
	text-align: center;
    height: 35px;
    line-height: 10px;
    display:none;
}

.toAppear {
	font-size: 36px;
    color: #333;
}

.toDisappear {
	font-size: 36px;
    color: #333;
    display:none;
}

.bottom_bar .info_btn div{
	float:left;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	height:50px;
	line-height:50px;
}

.bottom_bar .info_btn .btn_like{
	background: #f4f4f4 url(../image/common/ico_zzim_m.png) no-repeat center center;
	border: 1px solid #eee;
	background-size:26px;
	width:50px;
}

.bottom_bar .info_btn .btn_like.on{
	background: #f4f4f4 url(../image/common/ico_zzim_m_on.png) no-repeat center center;
	background-size:26px;
}

.bottom_bar .btb_btn {
    
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 12px;
    width: calc(100% - 16px);
    text-align: center;
}

.bottom_bar .btb_btn a{
	display:inline-block;
	width:92px;
	height:46px;
	line-height:46px;
    font-size: 14px;
	text-align:center;
	-webkit-border-radius:2px;
	-ms-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:3px;
}

.bottom_bar .btb_btn a i.xi-heart, .bottom_bar .btb_btn a i.xi-heart-o{
	font-size: 24px;
    margin: 11px 13px;
}
	

.bottom_bar .btn_reserve{
	background: #ff6f61;
    
	color:#fff;
	width: calc(100% - 61px) !important;
}

.bottom_bar .btn_reserve.close{
	background: #e2e2e2;
    border: 1px solid #e2e2e2;	
	color:#999
}

.bottom_bar .btn_kakaocs{
    background: #eee;
    border: 1px solid #eee;	
    color: #37191b;
    width: 17% !important;
   
}

.bottom_bar .btn_kakaocs i{
	font-size:1.3em;
	vertical-align:middle
}

.list_tit_wrap {
	display:flex;
	justify-content: space-between;
	
}

.list_tit_wrap h3.main_h3 {
	margin: 0
}

.list_tit_wrap a {
	align-self: flex-end;
	border-radius:25px;
	color: #bfbfbf;
    padding: 2px 6px;
	border: 1px solid #d7d7d7;
	transition:all 0.3s;
}

.list_tit_wrap a:hover {
	color:#ff6f61;
	border: 1px solid #ff6f61;;
}

.snap_wrap {
	border: 1px solid #d5d5d5;
	border-radius: 7px;
	overflow:hidden;
	position:relative;
}

.snap_wrap:after {display:block; clear:both; content:""; width:100%;}

.snap_wrap .txt_wrap {
	float:left;
	width: 30%;
	box-sizing:border-box;
	margin:30px 0;
	padding: 0 33px;
}

.snap_wrap .txt_wrap h3 {
	font-size: 28px;
    font-weight: 500;
    color: #555;
    line-height: 33px;
    margin-bottom:5px;
}

.snap_wrap .txt_wrap p {
	color: #919191;
    font-size: 16px;
    letter-spacing: -0.5px;
}

.snap_wrap .txt_wrap a {
	position: absolute;
    bottom: 30px;
    padding: 10px 13px;
    background: #ffd746;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}

.snap_wrap .gallery_slide_wrap {
	float:right;
	width: 65%;
	overflow:hidden;
	box-sizing: border-box;
	margin: 30px 0 30px;
	position:relative;
}
.snap_wrap .gallery_slide_wrap .swiper-container-snap {
	
}

.snap_wrap .gallery_slide_wrap .swiper-container-snap img {
	width: 100%;
	border-radius: 7px;
}

.snap_wrap .gallery_slide_wrap .fade_left {
	position:absolute;
	top: 0;
	left: 0;
	width: 100px;
    height: 100%;
    background: linear-gradient(90deg, white, transparent);
    z-index: 100;
}

.snap_wrap .gallery_slide_wrap .fade_right {
	position:absolute;
	top: 0;
	right: 0;
	width: 100px;
    height: 100%;
    background: linear-gradient(-90deg, white, transparent);
    z-index: 100;
}
	

/* 탭 사용 시 */

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab-content{
    display: none;
}

.tab-content.on{
    display: inherit;
}
