
/*******************  Header *******************/
#Wrap	{ position:relative; width:100%}
#header	{ }

.top_center_txt{background:#fff; border-bottom:1px solid #eaeaea; text-align:center; height:35px; line-height:35px; font-size:10px;}
.top_center_txt span{color:#43b749;}
.head_top			{ height:60px; border-bottom:1px solid #d6d6d6;}
.head_top h1		{ position:relative; margin:0 auto; top:10px; z-index:1; display:table; height:40px; text-align:center;}
.head_top h1 a {display:table-cell; vertical-align:middle; }
.head_top h1 img {height:40px;}
/*.head_top h1		{ position:relative; margin:0 auto; top:20px; z-index:1; width:150px; height:21px}*/
.head_top .allmenu	{ position:absolute; top:56px; left:15px; /*z-index:2;*/ width:22px; height:22px}
.head_top .mp		{ position:absolute; top:52px; right:15px; /*z-index:2;*/}
.head_top .mp a		{ display:block; width:24px; height:32px; background:url(../tmbi_image/top_my.png) 0 0 no-repeat; background-size:18px}
.head_top .mp.on a	{ background:url(../tmbi_image/top_my_on.png) 0 0 no-repeat; background-size:18px }

.head_btm						{ border-bottom:1px solid #777777; overflow:hidden;}
.head_btm .gnb				{ width:100%; /*display:table;*/ margin-left:auto; margin-right:auto; height:44px;}
.head_btm .gnb div				{ float:left; margin-right:0px; text-align:center; font-size:14px; font-weight:700;}
.head_btm .gnb div a			{ display:block; padding:13px 0; color:#383838;}
.head_btm .gnb div:last-child	{ margin-right:0}


/******************* Common *******************/
#contents		{ background:#f3f3f3}
#contents:after	{ content:""; clear:both; display:block}
.box			{ padding:0 10px}
.box:after		{ content:""; clear:both; display:block}

.subtit			{ position:relative; padding:14px 0 14px 0;  background:#fbfbfb; border-top:1px solid #777;  border-bottom:1px solid #cccccc; margin-top:-1px;}
.subtit .box	{ display:table; margin-left:auto; margin-right:auto;}
.subtit h2		{ font-size:16px; color:#383838;}
.subtit a		{ position:absolute; left:12px; top:7px; color:#383838; font-size:13px; height:30px; line-height:30px; padding:0 10px 0 22px;
background:url(../tmbi_image/back_icon.png) 0 center no-repeat; background-size:12px}


/******************* Footer *******************/
#footer:after			{ content:""; clear:both; display:block}


.guide {
    background: #fff;
    padding: 20px 0
}
.guide ul {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.guide ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
.guide ul li:last-child {
    border-right: 1px solid #e1e1e1;
}
.guide ul li a {
    display: block;
    height: 80px;
    font-size: 11px;
    color: #000;
    text-align: center;
    line-height: 30px;
    letter-spacing: -1px;
}
.guide ul li a img {
    height: 25px;
    margin-top: 16px;
}
.guide ul li a i {
    margin-top: 16px;
	font-size:27px;
	color: #bbb;
}
.guide ul li a p {
	margin-top:-3px;
}


.cscenter {
    text-align: center;
    background: #fff
}
.cscenter .tit {
    padding-bottom: 6px;
}
.cscenter .tit h2 {
    display: inline-block;
    font-size: 12px;
    color: #000;
    font-weight: normal;
    position: relative;
    top: -2px
}
.cscenter .tit .tel {
    font-size: 15px;
}
.cscenter .tit .tel a {
	font-size: 16px;
    color: #ff502a
}
.cscenter .time {
    font-size: 12px;
    font-weight:500;
    color: #000;
    padding-bottom: 30px;
    padding-top:5px;
}
.cscenter .time p {
    line-height: 20px
}
.cscenter .time span {
    color: #e5e5e5;
    font-size: 10px;
}
/*고객센터*/

.f_menu					{ width:100%; background:#fff; border-top:1px solid #a7a7a7;}
.f_menu ul				{ padding:8px 0; display:table; margin:0 auto;}
.f_menu ul li			{ float:left; margin-right:15px; font-size:13px}
.f_menu ul li:last-child{ margin-right:0}
.f_menu ul li a			{ display:block; background:#fff; padding:3px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#222}

.f_gnb					{ width:100%; background:#3b3f43; border-top:1px solid #36393b; border-bottom:1px solid #2f3236; }
.f_gnb ul				{ padding:10px 0; display:table; margin:0 auto;}
.f_gnb ul li			{ float:left; padding:0 5px; font-size:11px; background:url(../tmbi_images/common/f_menubar.jpg) right center no-repeat; font-weight:normal}
.f_gnb ul li:first-child{ padding-left:0}
.f_gnb ul li:last-child	{ padding-right:0; background:none}
.f_gnb ul li a			{ display:block; color:#fff}

.f_sns {background:#4f555c; text-align:center; padding-top:10px;}
.f_sns li {display:inline-block; padding:5px 10px 0px 10px;}
.f_sns li a {display:block; font-size:24px; color:#fff;}

/*
.f_sns li.i_twt a { background:url(../tmbi_images/common/icon_b_twitter.png) 0 0 no-repeat; background-size:20px;}
.f_sns li.i_face a { background:url(../tmbi_images/common/icon_b_face.png) 0 0 no-repeat; background-size:9px; }
.f_sns li.i_blog a { background:url(../tmbi_images/common/icon_b_blog.png) 0 0 no-repeat; background-size:18px; }
.f_sns li.i_kas a { background:url(../tmbi_images/common/icon_b_kas.png) 0 0 no-repeat; background-size:10px; }
*/


.adress					{ background:#4f555c; padding:15px 10px 20px 10px; text-align:center}
.adress p				{ font-size:10px; color:#fff; font-weight:normal; letter-spacing:-1px;}
.adress p.copy			{ text-align:center; margin-top:5px; font-size:8px;letter-spacing:0px; }
.adress p.copy span		{ color:#fe9283;}
.adress a {color:#fff;}



/******************* Login *******************/
.login_area			{ width:87%; margin:0 auto; padding-top:25px; padding-bottom:40px; text-align:center;}
.login_area h4		{ font-weight:700; font-size:17px; color:#333; padding-bottom:20px;  }
.loginBox input[type=text], .loginBox input[type=password], .loginBox input[type=email], .loginBox input[type=number],.loginBox input[type=tel]{
	width:100%;
	padding:14px 10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.loginBtn a			{ display:block; width:100%; height:45px; line-height:45px; background:#e44c52; color:#fff; font-size:18px; text-align:center;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.loginBtn.B a	  {background:#4c4c4c;}

.keep_area			{ position:relative; height:70px; border-bottom:1px solid #ccc;}
.keep_area .keep	{ position:absolute; left:0; top:10px; color:#333}
/* .keep_area .idpw_sch{ position:absolute; right:0; top:13px; text-decoration:underline; color:#666} */
label.check.keep	{ padding-left:25px}

/******************* 아이디/비밀번호 찾기 *******************/
h4.findpw	{ padding-top:30px; border-top:1px solid #ccc; margin-top:30px}


/******************* 회원가입 *******************/

/** 약관 **/
.find_info		{ position:absolute; right:0; top:40px;}
.find_info a	{ display:inline-block; letter-spacing:-0.05em; color:#666 }
.find_info .bar	{ margin:0 3px}
.bar 			{ display:inline-block; width:1px; height:13px; background:#ccc; text-indent:-999em;}
/*
.btn_submit2	{ text-align:center}
.btn_submit2 a	{ display:inline-block; width:30%; text-align:center; padding:15px 0; color:#fff; background:#0056a7; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; font-size:16px}
.btn_submit2 a.gray6	{ background:#666}
*/

/** 회원가입 Form **/

/** 회원가입 완료 **/
.joinbox {background:#fff; border:1px solid #ddd; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:12px; overflow:hidden; padding:5px 0; }
.joinbox .end_icon { display:block; background:url(../tmbi_images/product/ico_end.png) center 0 no-repeat ; background-size:33px; width:100%; height:50px;}
.joinbox .end		{ text-align:center; padding:30px 10px 40px 10px }
.joinbox .end .top	{ font-size:22px; color:#000;display:inline-block; text-align:center; border-bottom:1px solid #000; padding-bottom:7px; margin:5px 0 17px 0; }
.joinbox .end .txt1	{ font-size:17px; color:#333; margin-bottom:10px; line-height:27px}
.joinbox .end .txt2	{ font-size:13px; line-height:20px}
.joinbox .end .txt1 strong {color:#333;}

/** 회원가입 BUTTON **/

.btn_submit2 ul li		{ float:left; width:49%; margin-left:5px}
.btn_submit2 ul li:first-child	{ margin-left:0}
.btn_submit2 ul li a	{ display:inline-block; width:100%; text-align:center; padding:15px 0; color:#fff; background:#0056a7; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-size:15px}
.btn_submit2 ul li a.gray6	{ background:#666}

.btn_submit2.single ul		{ text-align:center}
.btn_submit2.single ul li	{ float:none; display:inline-block; margin-left:0}

a.btn_out {display:block; background:#fff; color:#333; border:1px solid #777;  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:80px; height:30px; line-height:30px; padding:0 10px; text-align:center; }

/******************* Spare *******************/

/*
select			{ height:35px; line-height:35px; background:#fff; font-family:'Nanum Gothic', "나눔고딕"; font-size:15px; padding-left:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #d7d7d7; color:#5b5b5b; font-weight:700; vertical-align:middle}
*/
select{
	color:#666;
	font-family:'Nanum Gothic', "나눔고딕";
	font-size:12px;
	font-weight: bold;
	border:1px solid #d7d7d7;
	padding-right:12%;
	padding-left:5%;
	vertical-align:middle;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background:url(../tmbi_images/common/bg_slct_arr.png) 95% 0.8em no-repeat #fff;
	background-size: 14px;
	-webkit-background-size: 14px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;}


/* Textarea */
.textarea_basic			{ border:1px solid #c6c6c6 ; background:#fff; padding:10px;}
.textarea_basic textarea{ width:100%; height:80px; border:0}
.scroll					{ overflow-y:auto; height:60px; padding:10px; border:1px solid #c6c6c6; background:#fff; font-size:12px; line-height:20px; color:#666; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

/* Check */
label.check	 	{ display:inline-block; background:url(../tmbi_images/product/check_off.png) no-repeat; background-position:0 center; background-size:20px; line-height:20px; padding-left:30px; min-height:20px}
label.check.on	{ background:url(../tmbi_images/product/check_on.png) no-repeat; background-size:20px; }


/* 테이블 */
.table_box				{ border:1px #d7d7d7 solid; border-top:1px #333 solid;border-bottom:none; background:#fff; overflow:hidden; }
.table_box2				{ background:#fff; border:1px #0056a7 solid; overflow:hidden; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.table_box3				{ background:#fff; border:1px #d7d7d7 solid; overflow:hidden;}

table .sub_txt {font-size:11px; color:#777; font-weight:normal; letter-spacing:-1px;}

table.tbl-type1 th		{ background:#f2f2f2; padding:10px 0 10px 10px; border-bottom:1px #d7d7d7 solid; text-align:left; color: #333; word-break: break-word;}
table.tbl-type1 td		{ padding:10px; border-bottom:1px #ddd solid; word-break:break-word; line-height:160%;}
table.tbl-type1	select	{ height:27px; border:1px solid #ddd; background-size:0.8em; font-weight:normal; border-radius:0;}
table.tbl-type1	input {border-radius:0; border:1px solid #ddd;}
table.tbl-type1	textarea {border-radius:0; border:1px solid #ddd; height:100px; padding:5px;}

table.tbl-type1.h_5 td	{padding:5px 10px !important;}

table .p_total {display:block; font-weight:700; color:#d63733; font-size:20px; padding:10px 0;}
table .way {display:block; font-weight:700; color:#d63733; font-size:15px; padding:5px 0;}

table .tbl_btn {display:inline-block; cursor:pointer; background:#f5f5f5; border:1px solid #dedede !important;  color:#222; font-size:10px; letter-spacing:-1px;
padding:7px 5px; text-align:center; vertical-align:middle;  -moz-border-radius:5px !important; -webkit-border-radius:5px !important; border-radius:5px !important;}
table .tbl_btn.gray {background:#555; border:1px solid #555 !important;  color:#fff;}

/* table.tbl-type1 input[type=text]	{ background:#f9f9f9}*/

table.tbl-type2 th		{ background:#f2f9ff; padding:10px 0 10px 10px; border-bottom:1px #ccc solid; text-align:left; color:#333; word-break: break-word;}
table.tbl-type2 td		{ padding:10px; border-bottom:1px #ccc solid; word-break:break-word; color:#333}
table.tbl-type2	select	{ height:27px; line-height:27px; font-size:13px; padding-left:5px; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:1px solid #ccc; background:#f9f9f9}
table.tbl-type2 input[type=text]	{ background:#f9f9f9}

table.tbl-type3 td				{ text-align:center}
table.tbl-type3 td.subject		{ border-top:2px solid #666; border-bottom:1px dotted #a9aaaf; padding:15px 0; font-size:15px; color:#333}
table.tbl-type3 td.date			{ font-weight:normal; padding:10px 0; border-bottom:1px solid #d7d7d7}
table.tbl-type3 td.contents		{ padding:5px}

/* Button */
.btn_grd		{ display:inline-block; cursor:pointer; color:#fff; font-size:12px; width:40px; padding:6px 0 5px; text-align:center; vertical-align:middle}
.btn_grd.blue	{
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

/* Gradient */
.grad_gray1	{
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}



#popup_zone {position:absolute; top:0; left:0; width:100%;  height:100%; z-index:99; background:#fff;}
#popup_zone h3 {background:#6a7179; color:#fff;  font-size:17px; height:50px;  line-height:50px; padding-left:10px;}
#popup_zone h3 strong {float:left; }
#popup_zone h3 .btn_close {float:right; padding-right:20px; }
#popup_zone h3 .btn_close img {width:20px;}
 #popup_cont {padding:20px 10px;}
#popup_zone .pop_tab {margin-bottom:20px; overflow:hidden;}
#popup_zone .pop_tab li {float:left; margin-right:1%; width:32.5%;  }
#popup_zone .pop_tab.w2 li {width:49%;  }
#popup_zone .pop_tab.w3 li {width:32.5%;  }
#popup_zone .pop_tab.w4 li {width:24.2%;  }
#popup_zone .pop_tab li a {display:block; background:#fafafa; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:center;height:33px; line-height:33px;
border:1px solid #ccc;}
#popup_zone .pop_tab li.on a {background:#e43d43;border:1px solid #e43d43; color:#fff;}
#popup_zone .pop_tab li.last {margin-right:0;}
#popup_zone .p_price_more dl {clear:both; padding:0 10px 10px 10px; border-bottom:1px solid #eee; margin-bottom:15px; }
#popup_zone .p_price_more dt {float:left; font-size:13px; color:#424242; }
#popup_zone .p_price_more dd {float:right;  font-size:14px; }
#popup_zone .p_price_more dl.t_price dt {color:#e43d43; }
#popup_zone .p_price_more dl.t_price dd {color:#e43d43; font-size:20px;}






/* 사이드 메뉴 */

#sidemenu_re {
	width: 100%;
	display: inline-block;
	color: #000;
	background: #eaeaea;
}

.side_namebox {
	padding:0 20px;
	height: 55px;
	font-weight: 300;
	background: #d63733;
	display: flex;
	align-items: center;
}

.side_namebox .close {
	position: absolute;
	z-index: 1000;
	right: 20px;
	top: 12px;
}

.side_namebox .close i {
	font-size: 28px;
	color: #fff;
}

.n_name {

}

.n_name li {
	display: inline-flex;
	align-items: center;
}

.n_name li a {
	float:left;
	margin-right:10px;
	font-size: 15px;
	color:#fff;
}

.n_name li img{
	width:20px;
}


.n_name a {
	display: flex;
	align-items: center;
}

.n_name i {
	font-size: 20px;
	color: #fff;
	margin-right: 6px;
}

.n_name img {
	width: 40px;
	margin-right: 10px;
}



.side_category {
	margin-top: 8px;
	font-weight: 300;
}

.side_category ul {
	background: #fff;
}

.side_category li {
	float: left;
	width: 33.12%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	font-size: 13px;
}

.side_category li:nth-child(3n) {
	border-right: 0;
}

.side_mtit {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding-left: 20px;
	font-weight: 500;
	background: #f6f6f6;
	border-bottom: 1px solid #eaeaea;
}

.side_mtit img {
	width: 22px;
}

.side_bmenu {
	margin-top: 8px;
	font-weight: 300;
}

.side_bmenu ul {
	background: #fff;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.side_bmenu li {
	float: left;
	width: 24.5%;
	line-height: 30px;
	text-align: center;
	border-right: 1px solid #eaeaea;
	font-size: 13px;
	padding: 15px 0px;
}

.side_bmenu li:last-child {
	border-right: 0;
}

.side_bmenu li img {
	width: 28px;
}

.side_banner {
	margin-top: 8px;
	margin-bottom: 8px;
}

.side_banner ul {
}

.side_banner li {
	width: 100%;
	display: block;
}



/* 마이페이지 */

#side_mypage{width:100%; height:100%; position:absolute; z-index:1000; top:0; bottom:0; left:0; right:0; color:#000; background:#f6f6f6; overflow-x:hidden;}
#side_mypage div.home{position:absolute; z-index:1000; right:20px; top:25px;}
#side_mypage div.home img{width:28px;}
#side_mypage div.close{position:absolute; z-index:1000; left:15px; top:15px;}
#side_mypage div.close i{font-size:28px;}

.smyp_contents{padding:40% 20px 20px 20px; }
.smyp_name{font-weight:300; text-align:center;}
.smn_name{font-size:28px; line-height:30px;}
.smn_name span{font-size:14px; color:#808080; display:block;}
.smn_name span.smn_intro{font-size:22px; color:#000; display:inline-block;}

.smyp_category{margin-top:8px; font-weight:300; margin-top:35px;}
.smyp_category ul{border-left:1px solid #eaeaea; border-top:1px solid #eaeaea;}
.smyp_category li{background:#fff; float:left; width:32.98%; height:80px; line-height:30px; text-align:center; border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea; padding-top:25px;}
.smyp_category li img{width:28px;}
.smyp_category li span{display:block; font-size:13px;}

.smyp_fmenu{position:absolute; z-index:1000; bottom:30px; left:50%; transform:translateX(-50%);}
.smyp_fmenu ul{}
.smyp_fmenu li{float:left; padding-right:10px; font-weight:500; background:url(../tmbi_images/common/ico_line_b.png) no-repeat right center;}
.smyp_fmenu li:last-child{background:none; padding-left:10px; padding-right:0px;}
.smyp_fmenu li img{width:18px;}


/*퀵 추가 200707*/


#qck {
	position: fixed;
    bottom: 150px;
    z-index: 1005;
    width: 100%;
}

#toggle-pick img{
	    margin-right: 4px;
    height: 40px;
}

.quick-list ul {
    background-color: rgba(0,0,0,0.65);
    padding: 8px 5px 8px 16px;
    border-radius: 36px 0 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: -120px;
    transition: .2s;
}
.quick-list ul.active {right: 0px;}

.quick-list ul li {
    margin: 0 3px;
}
.quick-list img {
    height: 54px;
    width: auto;
}
